/* Reset básico para garantir que todos os elementos tenham margens e preenchimentos consistentes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Cor de fundo suave */
  color: #333; /* Cor do texto */
  line-height: 1.6;
}

/* Cabeçalho */
header {
  background-color: #007bff; /* Cor do cabeçalho */
  color: white; /* Cor do texto do cabeçalho */
  padding: 20px;
  text-align: center;
}

header nav ul {
  list-style-type: none; /* Remove marcadores da lista */
}

header nav ul li {
  display: inline; /* Itens na mesma linha */
  margin: 0 15px; /* Espaçamento entre os itens */
}

header nav ul li a {
  color: white; /* Cor dos links */
  text-decoration: none; /* Remove sublinhado dos links */
}

/* Container principal */
.container {
  display: flex; /* Usar flexbox para layout */
  max-width: 1700px; /* Largura máxima para as seções */
  margin: 20px auto; /* Centraliza as seções */
}

/* Estilo do título das seções */
.section-title {
  background-color: #007bff; /* Cor de fundo do título */
  color: white; /* Cor do texto do título */
  padding: 10px; /* Espaçamento interno */
  cursor: pointer; /* Indica que é clicável */
  border-radius: 4px; /* Bordas arredondadas */
  margin-bottom: 5px; /* Espaçamento abaixo do título */
  transition: background-color 0.3s; /* Transição suave */
  flex: 1; /* Flexibilidade para ocupar espaço */
}

.section-title:hover {
  background-color: #0056b3; /* Cor do título ao passar o mouse */
}

/* Estilo do conteúdo das seções */
.content {
  background-color: white; /* Fundo branco para as seções */
  padding: 20px;
  margin-left: 20px; /* Espaçamento à esquerda para separar do título */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para profundidade */
  flex: 2; /* Flexibilidade para ocupar espaço */
}

/* Estilo da tabela */
table {
  width: 100%; /* Largura total para a tabela */
  border-collapse: collapse; /* Remove espaço entre bordas */
}

th,
td {
  padding: 10px; /* Espaçamento interno */
  text-align: left; /* Alinha o texto à esquerda */
  border-bottom: 1px solid #ddd; /* Borda inferior */
}

th {
  background-color: #f4f4f4; /* Cor de fundo dos cabeçalos */
}

/* Rodapé */
footer {
  text-align: center; /* Centraliza o texto */
  padding: 10px;
  background-color: #007bff; /* Cor do rodapé */
  color: white; /* Cor do texto do rodapé */
}
